<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.instirepo.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- required to call person when viewing user profile of other -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission
        android:name="com.instirepo.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.instirepo.app.permission.C2D_MESSAGE" />

    <application
        android:name="com.instirepo.app.application.ZApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- GCM work -->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.instirepo.app" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.instirepo.app" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.instirepo.app.gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.instirepo.app.gcm.MyInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="com.instirepo.app.gcm.RegistrationIntentService"
            android:exported="false" >
        </service>

        <!-- End GCM work -->

        <activity
            android:name="com.instirepo.app.activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.instirepo.app.activities.LaunchActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" >
        </activity>
        <activity
            android:name="com.instirepo.app.activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/BNCNoActionBar" >
        </activity>
        <activity
            android:name="com.instirepo.app.activities.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/NoActionBarThemeTransparentStatusBar" >
        </activity>
        <activity
            android:name="com.instirepo.app.activities.CreatePostActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name="com.instirepo.app.activities.NotificationsActivity"
            android:label="@string/app_name"
            android:theme="@style/BNCNoActionBar" >
        </activity>
        <activity
            android:name="com.instirepo.app.activities.UserProfileActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name="com.instirepo.app.activities.AllMessagesActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name="com.instirepo.app.activities.MessageListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity
            android:name="com.instirepo.app.activities.PostDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/BNCNoActionBar" >
        </activity>
        <activity
            android:name="com.instirepo.app.activities.ProductDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/BNCNoActionBar" >
        </activity>
        <activity
            android:name="com.instirepo.app.activities.ProductsListingActivity"
            android:label="@string/app_name"
            android:theme="@style/BNCNoActionBar" >
        </activity>

        <!-- File chooser activity -->
        <activity
            android:name="com.instirepo.app.afilechooser.FileChooserActivity"
            android:enabled="@bool/use_activity"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/choose_file" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <!-- end File chooser activity -->


        <!-- Dropbox -->

        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>
                <data android:scheme="db-ku1kknp8f14k7a6" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- End Dropbox -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f0a4b8dd35f1c09845dc9f233cd4e8c2e1a8db8c" />
    </application>

</manifest>